<?xml version="1.0" encoding="utf-8"?>
<!--
  Informationen zur Konfiguration Ihrer ASP.NET-Anwendung finden Sie unter
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings>

    <!-- Keys and Settings for Azure Search-->
    <add key="Search:ServiceName" value="hackase" />
    <add key="Search:ApiKey" value="50060D8DF64F5CDBFEA6A28EFA95D3B9" />
    <add key="Search:IndexName" value="hackindex" />
    <add key="Search:MinimumScore" value="0,01" />
    <add key="Search:ConfidenceLevelFactor" value="1" />
    <add key="Search:TopNResults" value="1" />
    <add key="Search:ScoringProfileName" value="recipeScoringProfile" />

    <!-- Keys and Settings for CosmosDB-->
    <add key="CosmosDb:EndpointUri" value="https://hackcdb.documents.azure.com:443/" />
    <add key="CosmosDb:AuthKey" value="EqpRUsMmQlBqiwWYCZZ9xyRrKEpsK2D9t9nfibBEA1KL64X8alu7xGvOiiMdSqZtpu3jVo4Zv8ClJKkLvEAhng==" />
    <add key="CosmosDb:Databasename" value="hackdb" />
    <add key="CosmosDb:CollectionName" value="recipecoll" />
    <add key="CosmosDb:ArticleCollectionName" value="articlecoll" />

    <!-- Keys and Settings for Custom Vision-->
    <add key="CustomVision:PredictionKey" value="ebbd8ad345d046ba85c6128a559c3d6d"/>
    <add key="CustomVision:PredictionEndpoint" value="https://southcentralus.api.cognitive.microsoft.com/customvision/v1.0/Prediction/096f8346-4fcb-4b08-91e6-218cc14f09b6/image?iterationId=16d936dd-d3e2-469b-88bd-525776c9387b"/>
    
    <!-- Keys and Settings for Application-->
    <add key="Login:DemoUsername" value="hacker" />
    <add key="Login:DemoPassword" value="hackathon" />

    <add key="Application:Version" value="1.0.0.0" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5.1" />
    <httpCookies httpOnlyCookies="true" />
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/Home" />
    </authentication>

  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'none'; font-src 'self'; script-src 'self' 'unsafe-eval'; connect-src 'self'; img-src 'self'; style-src 'self';" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog>
    <extensions>
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
    <targets>
      <target type="ApplicationInsightsTarget" name="aiTarget" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    </rules>
  </nlog>
</configuration>