
@{
    ViewBag.Title = "Info";
}
<div class="container">
    <h2>Infoseite</h2>
    <p><a href="http://www.customvision.ai" class="btn btn-primary btn-lg">AI Portal</a></p>
    <p>Zugangsdaten</p>
    <p><ul><li>User: kis_team3@outlook.de  Passwort: 5tgbnhz6 </li><li>Training Key: eb8daf33bc1b47fba19eb4bb19eae41a</li><li>Prediction Key: 46c5e01c3dfc4b4fbeeac70894615b83</li></ul></p>
    <p><a href="https://microsoft-my.sharepoint.com/:f:/p/ivvutov/EsB6YeDMSNNNu_TmS2d15GkBC14qFL96m9sO_eNG5wdRrA" class="btn btn-primary btn-lg">Rezeptbilder</a></p>
    </div>
