
@{
    ViewBag.Title = "Info";
}
<div class="container">
    <h2>Infoseite</h2>
    <p><a href="http://www.customvision.ai" class="btn btn-primary btn-lg">AI Portal</a></p>
    <p>Zugangsdaten</p>
    <p><ul><li>User: kis_team2@outlook.de  Passwort: 9ijnbhu8 </li><li>Training Key: e8a0c6ef48eb40f2b39832ede89b3af6</li><li>Prediction Key: f305d60ef4064d2fbf04cc157bdbc039</li></ul></p>
    <p><a href="https://microsoft-my.sharepoint.com/:f:/p/ivvutov/EsB6YeDMSNNNu_TmS2d15GkBC14qFL96m9sO_eNG5wdRrA" class="btn btn-primary btn-lg">Rezeptbilder</a></p>
    </div>
